<%= render 'shared/title', title: "Post Board ●ω●" %>

<div>
  <span class="btn btn-primary">
  <%= link_to 'new post', new_post_path, { :style=>'color: white; font-size: 16px', :class => "css_class"} %>
  </span>

  <span class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Most Recent', posts_path(type: "recent") %></li>
      <li><%= link_to 'Most Comments', posts_path(type: "comment") %></li>
      <li><%= link_to 'Most Tags', posts_path(type: "tag") %></li>
      <li><%= link_to 'Most Votes', posts_path(type: "vote") %></li>
    </ul>
  </span>
</div>

<div>
<br> <!-- TODO: Fix this, add proper padding -->
</div>

<div>
<% @posts.each do |post| %>
  <%= render 'post', post: post, show: false %>
<% end %>
</div>